/*!
 *  copyright: sunzhiyang 975263179@qq.com 
 *  time:  2022-1-12 08:34:23
 */.user-avatar .d-a[data-v-0befe2c4]{margin:25px 0;text-align:center}.user-avatar .d-a .el-image[data-v-0befe2c4]{border-radius:50%;width:200px;height:200px;margin:20px 0}.user-avatar .d-a .el-button[data-v-0befe2c4]{margin:10px}